<div class="container-fluid mb-5">
    <div class="row justify-content-center ps-5 pt-4 pe-5">

      <!-- *ENGLISH SIGNATURE -->
      <div class="col mb-5">
        <table #english cellspacing="0" cellpadding="4" style="font-family: 'Montserrat', sans-serif; line-height: 1.3; background-color: white;">
            <tbody>
                <!-- * FIRST ROW, [LOGO] [EMPTY] [NAME] --> 
                <tr style="background-color: white">
                    <td style="vertical-align: top;"><a href="https://www.p-net.gr/"><img width="140" height="auto" src="../../assets/p-logo.png" alt="logo"></a></td>
                    <td></td> 
                    <td>
                        <!-- <table cellspacing="0" cellpadding="2" style="color: #FF7A00;"> OLD -->
                        <table cellspacing="0" cellpadding="2">
                            <tbody>
                                <tr><td style="font-size: 17px;"><strong>Name Surname</strong></td></tr>
                                <tr><td style="font-size: 12px;">Title</td></tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <!-- * THIRD ROW, [EMPTY] [EMPTY] [INFO] -->
                <tr style="background-color: white"> 
                    <td></td>
                    <td></td> 
                    <td>
                        <table cellspacing="0" cellpadding="2" style="font-size: 12px;">
                            <tbody>
                                <!-- <tr><td><span style="color: #FF7A00;"><strong>Tel.: </strong></span><span style="text-decoration:none; color: black;">+30 {{phone}}</span></td></tr>
                                <tr><td><span style="color: #FF7A00;"><strong>Email: </strong></span><a style="text-decoration:none; color: black;" href = "mailto:{{email}}@p-net.gr">{{email}}{{'@p-net.gr'}}</a></td></tr> -->
                                <tr><td><span><strong>Tel.: </strong></span><span style="text-decoration:none; color: black;">+30 6911111111</span></td></tr>
                                <tr><td><span><strong>Email: </strong></span><a style="text-decoration:none; color: black;" href = "mailto:email@email.com">email@email.com</a></td></tr>
                                <tr><td>Location</td></tr>
                                <tr><td>Location details</td></tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <!-- * FOURTH ROW, [EMPTY] [EMPTY] [TABLE OF SOCIAL] -->
                <tr style="background-color: white">
                    <td></td>
                    <td></td>
                    <td>
                        <table>
                            <tbody>
                                <tr >
                                    <td><a href="#"><img width="21" height="auto" src="" alt="website"></a></td>
                                    <td width="7"></td> 
                                    <td><a href="#"><img width="21" height="auto" src="" alt="linkedin"></a></td>
                                    <td width="7"></td>
                                    <td><a href="#"><img width="21" height="auto" src="" alt="x"></a></td>
                                    <td width="7"></td>
                                    <td><a href="#"><img width="21" height="auto" src="" alt="youtube"></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- <div class="clickToCopyBox">
            <button *ngIf="!copyResponseEng" (click)="copyEnglish()" class="clickToCopyBtn">Copy</button>
            <p *ngIf="copyResponseEng" class="text-success">Done!</p>
        </div> -->
      </div>
      <!-- * GREEK SIGNATURE -->
        <div  class="col mb-3">
            <table #greek cellspacing="0" cellpadding="4" style="font-family: 'Montserrat', sans-serif; line-height: 1.3; background-color: white;">
                <tbody>
                    <!-- * FIRST ROW, [LOGO] [EMPTY] [NAME] --> 
                    <tr style="background-color: white">
                        <td style="vertical-align: top;"><a href="https://www.p-net.gr/"><img width="140" height="auto" src="../../assets/p-logo.png" alt="logo"></a></td>
                        <td></td> 
                        <td>
                            <!-- <table cellspacing="0" cellpadding="2" style="color: #FF7A00;"> -->
                            <table cellspacing="0" cellpadding="2">
                                <tbody>
                                    <tr><td style="font-size: 17px;"><strong>Όνομα Επίθετο</strong></td></tr>
                                    <tr><td style="font-size: 12px;">Τίτλος</td></tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <!-- * THIRD ROW, [EMPTY] [EMPTY] [INFO] -->
                    <tr style="background-color: white"> 
                        <td></td>
                        <td></td> 
                        <td>
                            <table cellspacing="0" cellpadding="2" style="font-size: 12px;">
                                <tbody>
                                    <!-- <tr><td><span style="color: #FF7A00;"><strong>Τηλ.: </strong></span><span style="text-decoration:none; color: black;">+30 {{phone}}</span></td></tr>
                                    <tr><td><span style="color: #FF7A00;"><strong>Email: </strong></span><a style="text-decoration:none; color: black;" href = "mailto:{{email}}@p-net.gr">{{email}}{{'@p-net.gr'}}</a></td></tr> -->
                                    <tr><td><span><strong>Τηλ.: </strong></span><span style="text-decoration:none; color: black;">+30 6911111111</span></td></tr>
                                    <tr><td><span><strong>Email: </strong></span><a style="text-decoration:none; color: black;" href = "mailto:email@email.com">email@email.com</a></td></tr>
                                    <tr><td>Τοποθεσία</td></tr>
                                    <tr><td>Λεπτομέρειες τοποθεσίας</td></tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <!-- *FOURTH ROW, [EMPTY] [EMPTY] [TABLE OF SOCIAL] -->
                    <tr style="background-color: white">
                        <td></td>
                        <td></td>
                        <td>
                            <table>
                                <tbody>
                                    <tr >
                                        <td><a href="#"><img width="21" height="auto" src="" alt="website"></a></td>
                                        <td width="7"></td> 
                                        <td><a href="#"><img width="21" height="auto" src="" alt="linkedin"></a></td>
                                        <td width="7"></td>
                                        <td><a href="#"><img width="21" height="auto" src="" alt="x"></a></td>
                                        <td width="7"></td>
                                        <td><a href="#"><img width="21" height="auto" src="" alt="youtube"></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- <div class="clickToCopyBox">
                <button *ngIf="!copyResponseGr" (click)="copyGreek()" class="clickToCopyBtn">Αντιγραφή</button>
                <p *ngIf="copyResponseGr" class="text-success">Έγινε!</p>
            </div> -->
        </div>
    </div>
</div>