body {
    background-color: rgb(224, 229, 233);
}
h1,h2,h3,h4,h5 {
    color: rgb(30, 47, 90);
}
.container-fluid {
    max-width: 1800px;
    padding: 0px 40px;
}
.nodecor {
    text-decoration: none;
}
.noselect {
    user-select: none;
}
.inherit {
    color: inherit;
}
.cursor-pointer {
    cursor: pointer;
}
.mainblue {
    color: rgb(30, 47, 90);
}
.form-control {
    border-radius: 4px;
    margin-bottom: 8px;
}
.form-control:focus {
    box-shadow: none;
    border: 1px solid rgb(30, 47, 90, 0.6);
}
.form-check {
    margin-top: 10px;
}
.form-check-input {
    cursor: pointer;
}
.form-check-input:focus {
    box-shadow: none;
    border: 1px solid rgb(30, 47, 90, 0.6);
}
.form-check label {
    cursor: pointer;
}
.boxSection {
    background-color: rgb(255, 255, 255);
    padding: 25px;
    border-radius: 17px;
    border: 1px solid rgba(21, 33, 64, 0.168);
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.113);
    margin-bottom: 30px;
}
.clickToCopyBox {
    margin-top: 35px;
}
.button {
    color: rgb(30, 47, 90);
    background-color: transparent;
    border-radius: 5px;
    padding: 5px 15px;
    border: 2px solid rgb(30, 47, 90);
    cursor: pointer;
    text-decoration: none;
}
.button:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.copy-response {
    border-radius: 5px;
    padding: 3px 15px;
    border: 2px solid transparent;
    cursor: default;
}
.signatureBox {
    box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.12);
}
::-moz-selection { /* Code for Firefox */
    color: white;
    background: rgb(30, 47, 90);
}
::selection {
    color: white;
    background: rgb(30, 47, 90);
}